.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
.g-5, .gx-5 {
    --bs-gutter-x: 3rem;
}
.g-2, .gy-2 {
    --bs-gutter-y: 0.5rem;
}
.col-6 {
    flex: 0 0 auto;
    width: 50%;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.j-center{
    text-align: center!important;
}

@media (min-width: 992px){
   .g-lg-3, .gy-lg-3 {
        --bs-gutter-y: 1rem;
    } 
}

@media (min-width: 992px){
    .g-lg-3, .gx-lg-3 {
        --bs-gutter-x: 1rem;
    }

    .g-2, .gy-2 {
        --bs-gutter-y: 0.5rem;
    }
    .g-2, .gx-2 {
        --bs-gutter-x: 0.5rem;
    }
}
@media (min-width: 992px){
    .row-cols-lg-5>* {
        flex: 0 0 auto;
        width: 20%;
    }
}

.row-cols-2>* {
    flex: 0 0 auto;
    width: 50%;
}

.col {
    flex: 1 0 0%;
}
.col-6 {
    flex: 1 0 0%;
    padding: 5px;
}

.custom-container {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 992px){
    .custom-container {
        width: 95%;
    }
}
body {
    background           : url("images/1591915.jpg");
    background-repeat    : no-repeat;
    background-attachment: fixed;
    background-size      : cover;
    background-position  : center;
    /* background-size   : 100% 100%; */
}

.text-center {
    margin-left : auto;
    margin-right: auto;
    white-space : nowrap;
    width       : fit-content;
}

.my-box {
    margin-left : auto;
    margin-right: auto;
    height      : fit-content;
    width       : 70%;

    background     : #ffffff60;
    backdrop-filter: blur(6px);
    margin-top     : 5.0rem;
    padding-top    : 0.5rem;
    padding-bottom : 0.5rem;
    padding-left   : 2rem;
    padding-right  : 2rem;

    border-radius: 0.5rem;
    box-shadow   : 10px 10px 20px #0000008e;
    /* display   : flex; */

    animation-name           : stretch;
    animation-duration       : 1.5s;
    animation-timing-function: ease-out;
    animation-delay          : 0;
    animation-direction      : alternate;
    animation-iteration-count: calc(10);
    animation-fill-mode      : none;
    animation-play-state     : running;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-outline-primary {
    color: #0d6efd;
    border-color: #0d6efd;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.bd-example>.btn, .bd-example>.btn-group {
    margin: 0.25rem 0.125rem;
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 50%);
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.bd-example>.btn, .bd-example>.btn-group {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 50%);
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
/* .btn:hover {
    color: #212529;
    text-decoration: none;
} */
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.new-box {

    padding: 15px;

    height      : fit-content;

    background     : #ffffff60;
    backdrop-filter: blur(6px);
    margin-top     : 5.0rem;

    border-radius: 0.5rem;
    box-shadow   : 10px 10px 20px #0000008e;
    /* display   : flex; */

    animation-name           : stretch1;
    animation-duration       : 1.5s;
    animation-timing-function: ease-out;
    animation-delay          : 0;
    animation-direction      : alternate;
    animation-iteration-count: calc(10);
    animation-fill-mode      : none;
    animation-play-state     : running;
}

@keyframes stretch1 {
    0% {
        background: #ffffff1c;
        box-shadow: 10px 10px 20px #00000013;
        color     : #0000002a;
    }

    50% {
        background: #ffffff34;
        box-shadow: 10px 10px 20px #0000003d;
        color     : #000000a8;
    }

    100% {
        background: #ffffff60;
        box-shadow: 10px 10px 20px #0000008e;
        color     : #000000;
    }
}

.my-box h1 {
    font-size     : 35px;
    font-family   : "Impact";
    letter-spacing: 6px;
    word-spacing  : 12px;
}

.my-box p {
    font-size  : 22px;
    font-family: "Courier";
    font-weight: bold;
}

.my-box hr {
    /* background:#000000; */

    border: 1px solid #0c0c0ccc;
}

.f-s-1{
    font-size: 1.4rem;
    font-weight: bolder;
}